<script>
	import { interpolateRainbow } from 'd3-scale-chromatic';
	import Bubble from './Bubble.svelte';
	import { random } from './utils';
	import { onMount } from 'svelte';
	import { tweened } from 'svelte/motion';
	import { bounceInOut } from 'svelte/easing';
	
	let inner_width, inner_height;
	let color = interpolateRainbow;
	let a = init();
	let b = init();
	$: if ($a === 1) {
		$a = 0;
	} else if ($a === 0) {
		$a = 1;
	}
	$: if ($b === 1) {
		$b = 0;
	} else if ($b === 0) {
		$b = 1;
	}
	$: start = color($a);
	$: stop = color($b);
	function init () {
		return tweened(random(0,1), {
			duration: random(1, 5) * 10000,
			easing: bounceInOut
		});
	}
	function randomColor () {
		const floor = Math.min($a, $b);
		const limit = Math.max($a, $b);
		return color(random(floor, limit));
	}
	function genColor () {
		return { start: randomColor(), stop: randomColor() };
	}
	function spawn () {
		const bubble = new Bubble({
			target: document.body,
			props: {
				color: genColor()
			}
		});
		bubble.$on('unmounted', () => {spawn()});
	}
	
	onMount(() => {
		$a = 0;
		$b = 0;
	})
</script>
<svelte:window bind:innerWidth={inner_width}
							 bind:innerHeight={inner_height} />
<div class="wrapper"
		 style="--start: {start};
						--stop: {stop};
						width: {inner_width}px;
						height: {inner_height}px;">
	{#each Array(15).fill(0) as _}
		<Bubble color={genColor()}
						on:unmounted={() => {spawn()}} />
	{/each}
	<p>
		From {$a}<br/>
		To {$b}<br/>
		by benzene	
	</p>
</div>

<style>
	:global(body) {
		box-sizing: border-box;
		padding: 0px;
		margin: 0px;
		border: 0px;
		overflow: hidden;
	}
	.wrapper {
		position: relative;
		display: block;
		overflow: hidden;
		background: linear-gradient(180deg, var(--start) 0%, var(--stop) 100%);
	}
	p {
		color: white;
		font-size: 10px;
		margin-left: 16px;
		user-select: none;
	}
	</style>