<script>
	import { onMount, createEventDispatcher } from 'svelte';
	import { tweened } from 'svelte/motion';
	import { sineOut } from 'svelte/easing';
	import { random } from './utils'

	export let color = { start: '#000000', stop: '#000000'};
	const dispatch = createEventDispatcher();
	const genPath = () => { return { x: random(), y: random() }};
	const origin = genPath();
	const destination = genPath();
	const delta_x = Math.abs(origin.x - destination.x);
	const delta_y = Math.abs(origin.y - destination.y);
	const duration = ((delta_x + delta_y) / 2) * 1000;
	const options = { duration, easing: sineOut };
	const create = (init) => tweened(init, options);
	const opacity = create(0.75);
	const size = create(random(10));
	const position = create(origin);

	onMount (() => {
		$opacity = 0;
		$size = random(0, 500);
		$position = destination;
	})
	
	function bubbling (element) {
		return {
			update (opacity) {
				if (opacity === 0) {
					element.parentNode.removeChild(element);
					dispatch('unmounted');
				}
			}
		}
	}
</script>

<div class="bubble"
		 style="width: {$size}px;
						height: {$size}px;
						border-radius: 999px;
						background-color: {color};
						opacity: {$opacity};
						top: {$position.y}%;
						left: {$position.x}%;
						--start: {color.start};
						--stop: {color.stop};"
		 use:bubbling={$opacity}>
</div>

<style>
	.bubble {
		z-index: 0;
		display: block;
		position: absolute;
		background: linear-gradient(0deg, var(--start) 0%, var(--stop) 100%);
		transform: translate(-50%, -50%);
	}
</style>